{% extends 'base.html' %}

{% block title %}
    丹玥后台登录
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="contain">
        <div class="left">
            丹玥电商
        </div>
        <div class="form">
            <form action="/" id="login" method="post">
                <div class="title">用户登录</div>
                <label><span>账号：</span><input type="text" name="user"></label>
                <label><span>密码：</span><input type="password" name="password"></label>
                <p>
                    <button type="submit">登录</button>
                    <a href="javascript:void(0)" onclick="alert('请联系后台数据组管理员设置')">注册</a>
                </p>
            </form>
        </div>
    </div>
    <div class="footer">
    </div>
{% endblock %}
{% block script %}
    {% if login|default('无效果') == '密码错误' %}
        <script>alert('密码错误请重新登录')</script>
    {% endif %}
    {% if login|default('无效果') == '请输入用户名' %}
        <script>alert('请重新输入')</script>
    {% endif %}
{% endblock %}