<!doctype html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>丹玥报表目录</title>
</head>
<body>
<ul>
    <li><a href="{{ url_for("rpt.rptHome",name="单品日报") }}">单品日表</a></li>
    <li><a href="{{ url_for("rpt.rptHome",name="单品数据") }}">单品数据</a></li>
    <li>单品月表</li>
    <li>店铺日表</li>
    <li>店铺月表</li>
    <li>店铺周表</li>
</ul>
</body>
</html>