<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="thead">
    <div class="tr">
        <div class="th"></div>
    </div>

</div>
<div class="tbody">
    <div class="tr">
        <div class="total">
            <div class="th">1</div>
            <div class="th">1</div>
            <div class="th">1</div>
            <div class="th">1</div>
        </div>
        <div class="detail">
            <div class="th">1</div>
            <div class="th">1</div>
            <div class="th">1</div>
            <div class="th">1</div>
        </div>
    </div>
</div>

</body>
</html>